<div class="parent">
    <div class="wrapper">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <h1>Login</h1>
            <div class="input-box">
              <label class="form-label">UserId</label>
              <input type="text" formControlName="email" class="form-control form-control-lg"
              placeholder="Enter a UserId" />
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
              <label class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control form-control-lg"
              placeholder="Enter password" />
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="input-box">
                <label class="form-label">Password</label>
                <input type="password" formControlName="password_confirmation" class="form-control" placeholder="Confirm password">
                  <i class='bx bxs-lock-alt'></i>
              </div>
          
            <br>
            <button type="submit" class="btn">Reset Password</button>
           
         </form>
    </div>
  </div>
  
  
  