<div class="parent">
    <div class="wrapper">
        <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
            <h1>Login</h1>
            <div class="input-box">
              <label class="form-label" for="form3Example3">UserId</label>
              <input type="text" formControlName="email" class="form-control form-control-lg"
              placeholder="Enter a UserId" />
                <i class='bx bxs-user'></i>
            </div>
                      
            <br>
            <button type="submit" class="btn">Submit</button><br><br><br>
            
         </form>
    </div>
  </div>
  
  
  